<h5><%= post.title %></h5>

<% unless post.url.blank? %>
  <ul>
    <li><a href="http://<%= post.url %>">Link</a></li>
  </ul>
<% end %>

<% if is_author?(post) %>
  <%= button_to "Edit", edit_sub_post_url(sub_id: post.sub_id, id: post.id), method: :get %>
<% end %>

  <%= post.author.username %> -
  <small><%= time_ago_in_words(post.created_at) %></small>
